:root {
  --background-color: #0A0A0A;
  --accent-color: #78FFB5;
  --text-color: #FAF9F6;
  --font-family: 'Inter';
}


body {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

input,
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 1em;
    color: var(--text-color);
    outline: none;
    box-shadow: none;
}

input:focus,
select:focus {
    outline: none;
}

select {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}