:root {
  --background-color: #0A0A0A;
  --accent-color: #78FFB5;
  --text-color: #FAF9F6;
  --font-family: 'Inter';
}


body {
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

input,
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 1em;
    color: var(--text-color);
    outline: none;
    box-shadow: none;
}

input:focus,
select:focus {
    outline: none;
}

select {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);      /* Thumb color */
  border-radius: 6px;
  padding: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);   /* Track color */
}

button, details {
    color: var(--text-color);
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 8px;
    margin: 0.5em 0.5em;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-family: var(--font-family);
   
}

button:hover {
    color: var(--text-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 5px rgb(120, 255, 181, 0.3);
    transition: letter-spacing 0.2s ease-in-out;
}

button:active {
  transform: scale(0.9);
}