.pagination {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    cursor: pointer;
}
.pagination li.selected {
    color: var(--accent-color);
    font-weight: bold;
}

.movies {
    color: var(--text-color);
}

.movie-table-container  {
    position: relative;
    margin-top: 10vh;
    color: var(--text-color);
    align-items: center;
}

.movie-table-container th {
    font-size: 4em;
}

.movie-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    max-width: 90vw;
    column-gap: 8px;
    row-gap: 10px;
    margin: 0 auto;
}

.movie-item {
    border-radius: 16px;
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.movie-poster {
    border-radius: 16px;
    width: 100%;
}
.placeholder-image {
    border-radius: 16px;
    width: 100%;
    height: 300px;
    object-fit:contain;
}

.movie-info {
    padding-bottom: 8px;
    text-align: center;
    justify-content: center;
}

.genre-select, .year-select {
    background-color: rgb(30,30,30);
    color: var(--text-color);
    border-radius: 8px;
    margin-left: 0.5em;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    font-family: var(--font-family);
}

.genre-select:focus, .year-select:focus {
    border-color: var(--accent-color);
    outline: none;
    transition: border-color 0.5s ease;
}

@media (max-width: 500px) {
    .all-movies-search {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5em;
    }

    .all-movies-search > * {
        width: 100%;
        margin: 0;
    }
}