.public-title, .public-info, .public-items{
    color: var(--text-color);
    text-align: center;
    list-style: none;
}

.public-title {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
}