.popular-carousel {
  margin: 32px auto;
  max-width: 400px;
  text-align: center;
  z-index: 3000;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-item {
  background: #111;
  border: 2px solid #33ff99;
  border-radius: 16px;
  padding: 16px;
  margin: 0 20px;
  box-shadow: 0 2px 8px #000a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: all 0.3s;
  width: 140px;
  height: 210px;
  opacity: 0.8;
}

.movie-item-center {
  width: 272px;
  height: 440px;
}

.movie-item-center .movie-poster {
  width: 240px;
  height: 360px;
  opacity: 1;
}

.movie-info {
  color: #fff;
  font-size: 1.1em;
  margin-top: 8px;
}

/*.popular-carousel button {
  background: #222;
  color: #33ff99;
  border: 2px solid #33ff99;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0 8px;
  transition: background 0.2s;
}
.popular-carousel button:hover {
  background: #33ff99;
  color: #111;
} */

.popular-carousel h2 {
  text-align: center;
  color: white;
} 

@media (max-width: 870px) {
  body {
    overflow-x: hidden;
  }
  .popular-carousel {
    padding: 10px;
  }
  .carousel-content {
    flex-direction: row;
    align-items: center;
  }
  .movie-item,
  .movie-item-center {
    margin: 10px 0;
    padding: 8px;
  }
  .movie-poster,
  .movie-item-center .movie-poster {
    max-width: 220px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .carousel-title {
    font-size: 1.2em;
    margin-right: 1em;
  }
  .carousel-content {
    margin-left: -1.5em;
    justify-content: flex-start;
  }
  .movie-item-center {
    width: 110px;
    height: auto;
  }
  .movie-item-center .movie-poster {
    width: 100px;
    height: auto;
  }
  .movie-item-side {
    width: 60px;
    height: auto;
  }
  .movie-item-side .movie-poster {
    width: 50px;
    height: auto;
    opacity: 0.7;
  }

  .movie-info {
    font-size: 0.8em;
  }
  
  .carousel-content button {
  width: 28px;
  height: 28px;
  font-size: 0.9em;
  padding: 0.1em 0.3em;
  border-radius: 6px;
}
}