body {
    color: black;
}

.searchbar {
    gap: 2em;
    position: relative;
    margin-top: 10vh;
}

.theatres-dropdown {
    padding: 0;
}


.search {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.results {
    display: flex;
    flex-direction: column;
}
